<!-- views/computers_edit.ejs -->
<%- include("partial_headers_admin.ejs"); %>

<section class="bg-black text-white p-1">
    <h2 class="ms-2">Add a New Computer</h2>
</section>

<section class="p-3">
    <button type="button" class="btn btn-outline-dark mb-3"><a href='/computers/list/admin'>Back to the list</a></button>
<!-- body-parser ==> we cannot use multipart/form-data ==> no file uploads -->
<form action='/computers/update/<%= oneComputer.computer_id %>' method='post'
            enctype='application/x-www-form-urlencoded'>

<table class="table table-striped table-bordered table-hover">            
    <tr><td>Brand:</td>
        <td>
            <select name='computer_brand'>
                <% for (var b of brands) { %>
                    <% if(b.brand_id != 11 && b.brand_id != 12 && b.brand_id != 13) {%>
                        <option value='<%= b.brand_id %>'
                                <%- b.brand_id==oneComputer.computer_brand ? "selected='selected'" : "" %>
                        > <%= b.brand_name %> </option>
                    <% } %>
                <% } %>
            </select>
        </td></tr>

    <tr><td>Model:</td>
        <td><input type='text' name='computer_model' value='<%= oneComputer.computer_model %>' /></td></tr>

    <tr><td>CPU:</td>
        <td>
            <select name='computer_cpu'>
                <% for (var c of cpu) { %>
                    <option value='<%= c.cpu_id %>'
                            <%- c.cpu_id==oneComputer.computer_cpu ? "selected='selected'" : "" %>
                    ><%= c.brand_name %> <%= c.cpu_model %></option>
                <% } %>
            </select>
        </td></tr>

    <tr><td>GPU:</td>
        <td>
            <select name='computer_gpu'>
                <% for (var g of gpu) { %>
                    <option value='<%= g.gpu_id %>'
                            <%- g.gpu_id==oneComputer.computer_gpu ? "selected='selected'" : "" %>
                    ><%= g.brand_name %> <%= g.gpu_model %></option>
                <% } %>
            </select>
        </td></tr>

    <tr><td>Storage (Go):</td>
        <td><input type='number' name='computer_storage' value='<%= oneComputer.computer_storage %>' /></td></tr>

    <tr><td>RAM (Go):</td>
        <td><input type='number' name='computer_ram' value='<%= oneComputer.computer_ram %>' /></td></tr>

    <tr><td>Size (Inch):</td>
        <td><input type='number' name='computer_size' value='<%= oneComputer.computer_size %>' /></td></tr>

    <tr><td>Total price (€):</td>
        <td><input type='number' step="0.1" name='computer_price' value='<%= oneComputer.computer_price %>' /></td></tr>

    <tr><td>Stock (Unit):</td>
        <td><input type='number' name='computer_stocks' value='<%= oneComputer.computer_stocks %>' /></td></tr>

    <tr><td colspan='2'> <button type="submit" onclick="alert('Computer has been added to the stocks.')" class="btn btn-outline-dark">SEND</button></td></tr>
</table>
</form>
</section>
<%- include("partial_footer.ejs"); %>