<!-- views/cpus_show.ejs -->
<!-- RECEIVES: oneComputer [a single computer object] -->
<!-- display in a secure way: every active content is ESCAPED (as HTML entities...) -->
<!-- Security problems: SQL Injection, XSS Cross Site Scripting  -->
<%- include("partial_headers.ejs"); %>

<h1>Single CPU Datasheet</h1>

<p><a href='/cpus/list'>Back to the list</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr><td>ID:</td><td> <%= oneCpu.cpu_id %> </td></tr>
    <tr><td>Brand:</td><td> <%= oneCpu.cpu_brand %> <%= oneCpu.brand_name %> </td></tr>
    <tr><td>Model:</td><td> <%= oneCpu.cpu_model %> </td></tr>
    <tr><td>Base Frequency:</td><td> <%= oneCpu.cpu_basefrequency %></td></tr>
    <tr><td>Boost Frequency:</td><td> <%= oneCpu.cpu_boostfrequency %> </td></tr>
    <tr><td>Cores:</td><td> <%= oneCpu.cpu_cores %> </td></tr>
</table>

<%- include("partial_footer.ejs"); %>