<!-- views/cpus_list.ejs -->
<%- include("partial_headers.ejs"); %>

<section class="p-3">
<h1>List of Cpu</h1>
<% if (flashMessage) { %>
    <p style='color:red'><%= flashMessage %></p>
<% } %>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>ID</td>
        <td>Brand</td>
        <td>Model</td>
        <td>Base Frequency</td>
        <td>Boost Frequency</td>
        <td>Cores</td>
        <td>Show</td>
    </tr>

    <% for (var c of cpus) { %>
        <tr>
            <td><%= c.cpu_id %></td>
            <td><%= c.brand_name %></td>
            <td><%= c.cpu_model %></td>
            <td><%= c.cpu_basefrequency %></td>
            <td><%= c.cpu_boostfrequency %></td>
            <td><%= c.cpu_cores %></td>
            <td><a href='/cpus/show/<%= c.cpu_id %>'>Show</a></td>
        </tr>
    <% } %>
</table>
</section>
<%- include("partial_footer.ejs"); %>