<!-- views/cpus_show_admin.ejs -->
<%- include("partial_headers_admin.ejs"); %>

<section class="p-3">
<h1>Single CPU Datasheet</h1>

<p><a href='/cpus/list/admin'>Back to the list</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr><td>ID:</td><td> <%= oneCpu.cpu_id %> </td></tr>
    <tr><td>Brand:</td><td><%= oneCpu.brand_name %> </td></tr>
    <tr><td>Model:</td><td> <%= oneCpu.cpu_model %> </td></tr>
    <tr><td>Base Frequency:</td><td> <%= oneCpu.cpu_basefrequency %></td></tr>
    <tr><td>Boost Frequency:</td><td> <%= oneCpu.cpu_boostfrequency %> </td></tr>
    <tr><td>Cores:</td><td> <%= oneCpu.cpu_cores %> </td></tr>
</table>
</section>
<%- include("partial_footer.ejs"); %>