<!-- views/gpus_list_admin.ejs -->
<%- include("partial_headers_admin.ejs"); %>

<section class="bg-black text-white p-1">
    <h2 class="ms-2">List of Gpu</h2>
</section>

<% if (flashMessage) { %>
    <p style='color:red'><%= flashMessage %></p>
<% } %>

<section class="p-3">

    <button type="button" class="btn btn-outline-dark mb-3"><a href='/gpus/edit/0'>+ Add a new gpu</a></button>

    <table class="table table-striped table-hover table-responsive-sm border border-dark shadow align-middle">
        <thead>
            <tr>
                <td>ID</td>
                <td>Brand</td>
                <td>Model</td>
                <td>Fill-rate pixel</td>
                <td>CU</td>
                <td>Memory</td>
                <td>Show</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <% for (var g of gpus) { %>
                <tr>
                    <td><%= g.gpu_id %></td>
                    <td><%= g.brand_name %></td>
                    <td><%= g.gpu_model %></td>
                    <td><%= g.gpu_fillrate_pixel %></td>
                    <td><%= g.gpu_cu %></td>
                    <td><%= g.gpu_memory %></td>
                    <td><button type="button" class="btn btn-outline-dark"><a href='/gpus/show/admin/<%= g.gpu_id %>'>Show</a></button></td>
                    <td><% if(g.gpu_id>10){ %>
                            <button type="button" class="btn btn-outline-dark"><a href='/gpus/edit/<%= g.gpu_id %>'>Edit</a></button>
                        <% } %></td>
                    <td>
                        <% if(g.gpu_id>10){ %>
                            <button type="button" class="btn btn-outline-dark" onclick="alert('Gpu has been deleted.')"> <a href="/gpus/del/<%= g.gpu_id %>">Delete</a></button>
                        <% } %>
                    </td>
                </tr>
            <% } %>
</table>
</section>
<%- include("partial_footer.ejs"); %>