<!-- views/gpus_show.ejs -->
<!-- RECEIVES: oneComputer [a single computer object] -->
<!-- display in a secure way: every active content is ESCAPED (as HTML entities...) -->
<!-- Security problems: SQL Injection, XSS Cross Site Scripting  -->
<%- include("partial_headers.ejs"); %>

<section class="p-3">
<h1>Single GPU Datasheet</h1>

<p><a href='/gpus/list'>Back to the list</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr><td>ID:</td><td> <%= oneGpu.gpu_id %> </td></tr>
    <tr><td>Brand:</td><td> <%= oneGpu.brand_name %> </td></tr>
    <tr><td>Model:</td><td> <%= oneGpu.gpu_model %> </td></tr>
    <tr><td>Fill-rate pixel:</td><td> <%= oneGpu.gpu_fillrate_pixel%></td></tr>
    <tr><td>CU:</td><td> <%= oneGpu.gpu_cu %> </td></tr>
    <tr><td>Memory:</td><td> <%= oneGpu.gpu_memory %> </td></tr>
</table>
</section>
<%- include("partial_footer.ejs"); %>
