<!-- views/gpus_edit.ejs -->
<%- include("partial_headers_admin.ejs"); %>

<section class="bg-black text-white p-1">
    <h2 class="ms-2">Add a New Gpu</h2>
</section>

<section class="p-3">
    <button type="button" class="btn btn-outline-dark mb-3"><a href='/gpus/list/admin'>Back to the list</a></button>
<form action='/gpus/update/<%= oneGpu.gpu_id %>' method='post'
      enctype='application/x-www-form-urlencoded'>

    <table class="table table-striped table-bordered table-hover">
        <tr><td>Brand:</td>
            <td>
                <select name='gpu_brand'>
                    <% for (var b of brands) { %>
                        <% if(b.brand_id == 1 || b.brand_id == 12 || b.brand_id == 13) {%>
                            <option value='<%= b.brand_id %>'
                                    <%- b.brand_id==oneGpu.gpu_brand ? "selected='selected'" : "" %>
                            > <%= b.brand_name %> </option>
                        <% } %>
                    <% } %>
                </select>
            </td></tr>

        <tr><td>Model:</td>
            <td><input type='text' name='gpu_model' value='<%= oneGpu.gpu_model %>' /></td></tr>

        <tr><td>Fill-rate pixel:</td>
            <td><input type='number' step="0.1" name='gpu_fillrate_pixel' value='<%= oneGpu.gpu_fillrate_pixel %>' /></td></tr>

        <tr><td>CU:</td>
            <td><input type='number' name='gpu_cu' value='<%= oneGpu.gpu_cu %>' /></td></tr>

        <tr><td>Memory:</td>
            <td><input type='number' name='gpu_memory' value='<%= oneGpu.gpu_memory %>' /></td></tr>

        <tr><td colspan='2'> <button type="submit" onclick="alert('Gpu has been added to the stocks.')" class="btn btn-outline-dark">SEND</button></td></tr>
    </table>
</form>
</section>
<%- include("partial_footer.ejs"); %>